[mattermost.spaceapi]
Server="chat.{{ domain }}:443" # The mattermost hostname (do not prefix it with http or https)
Team="spaceapi" # The team name as can be seen in the mattermost webinterface URL in lowercase, without spaces
Login="bridge_bot" # Login/password of your bot. Use a dedicated user for this and not your own!
Password="{{ matterbridge_mattermost_password }}"
RemoteNickFormat="[{PROTOCOL}/{NICK}] "
PrefixMessagesWithNick=true
EditDisable=false
EditSuffix=" (edited)"

[irc.spaceapi]
Server="chat.freenode.net:6697"
UseTLS=true
Nick="bridge_bot"
RemoteNickFormat="[{PROTOCOL}/{NICK}] "

[matrix.spaceapi]
Server="https://matrix.coredump.ch"
Login="spaceapi_bridge"
Password="{{ matterbridge_matrix_password }}"
RemoteNickFormat="[{PROTOCOL}/{NICK}] "
NoHomeServerSuffix=true

[[gateway]]
name="gateway1"
enable=true

  [[gateway.inout]]
  account="irc.spaceapi"
  channel="#spaceapi"

  [[gateway.inout]]
  account="mattermost.spaceapi"
  channel="town-square"

  [[gateway.inout]]
  account="matrix.spaceapi"
  channel="#spaceapi:matrix.coredump.ch"
