[irc.spaceapi]
Server="irc.libera.chat:6697"
UseTLS=true
SkipTLSVerify=false
Nick="bridge_bot"
RemoteNickFormat="[{PROTOCOL}/{NICK}] "

[matrix.spaceapi]
Server="https://matrix.coredump.ch"
Login="spaceapi_bridge"
Password="{{ matterbridge_matrix_password }}"
RemoteNickFormat="[{PROTOCOL}/{NICK}] "
NoHomeServerSuffix=true

[[gateway]]
name="gateway1"
enable=true

  [[gateway.inout]]
  account="irc.spaceapi"
  channel="#spaceapi"

  [[gateway.inout]]
  account="matrix.spaceapi"
  channel="#spaceapi:matrix.coredump.ch"
