{
    "iptables": true,
    "ip6tables": true,
    "ipv6": true,
    "experimental": true,
    "fixed-cidr-v6": "fd00:d0ca:1::/64",
    "default-address-pools": [
        {"base": "172.17.0.0/16", "size": 24},
        {"base": "fd00:d0ca:2::/104", "size": 112}
    ]
}
