global:
  scrape_interval: 1m
  evaluation_interval: 1m


remote_write:
  - url: http://victoriametrics:8428/api/v1/write
    queue_config:
      max_samples_per_send: 10000
      max_shards: 30

rule_files:
  - '/alert.rules'

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']
  - job_name: 'traefik'
    static_configs:
    - targets: ['reverse-proxy:8080']
  - job_name: 'directory'
    static_configs:
    - targets: ['api:8080']
  - job_name: 'directory scraper'
    static_configs:
    - targets: ['collector:8080']
  - job_name: 'grafana'
    static_configs:
    - targets: ['grafana:3000']
  - job_name: 'server'
    static_configs:
    - targets: ['{{ domain }}:9100']
  - job_name: 'victoriametrics'
    static_configs:
    - targets: ['victoriametrics:8428']
  - job_name: 'cadvisor'
    static_configs:
    - targets: ['cadvisor:8080']
