global:
  scrape_interval: 1m
  evaluation_interval: 1m


remote_write:
  - url: http://victoriametrics-addr:8428/api/v1/write
    queue_config:
      max_samples_per_send: 10000
      max_shards: 30

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']
  - job_name: 'traefik'
    scheme: 'https'
    basic_auth:
      username: '{{ default_basic_auth_user }}'
      password: '{{ default_basic_auth_password }}'
    static_configs:
    - targets: ['reverseproxy.{{ domain }}']
  - job_name: 'directory'
    scheme: 'https'
    static_configs:
    - targets: ['api.{{ domain }}']
  - job_name: 'directory scraper'
    scheme: 'https'
    metrics_path: '/collector/metrics'
    static_configs:
    - targets: ['api.{{ domain }}']
  - job_name: 'grafana'
    scheme: 'https'
    static_configs:
    - targets: ['metrics.{{ domain }}']
  - job_name: 'server'
    static_configs:
    - targets: ['{{ domain }}:9100']
