[tls.options]
    [tls.options.default]
      minVersion = "VersionTLS12"
      sniStrict = true


[http.middlewares]
    [http.middlewares.security-headers.headers]
      BrowserXssFilter = true
      ContentTypeNosniff = true
      FrameDeny = true
      SSLRedirect = true
      ForceSTSHeader = true
      STSIncludeSubdomains = true
      STSPreload = true
      STSSeconds = 315360000
      ContentSecurityPolicy = "default-src 'self' https://*.spaceapi.io/; script-src 'self' 'unsafe-inline'; connect-src 'self' *"
      CustomFrameOptionsValue = "SAMEORIGIN"
      ReferrerPolicy = "same-origin"
      FeaturePolicy = "vibrate 'none'"
