[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.websecure]
    address = ":443"

  [entryPoints.internal]
    address = ":8080"

[api]
  dashboard = true

[log]
  level = "ERROR"

[certificatesResolvers.letsencrypt.acme]
  email = "spaceapi-team@chaospott.de"
  storage = "/etc/traefik/acme/acme.json"
  [certificatesResolvers.letsencrypt.acme.tlsChallenge]

[metrics]
  [metrics.prometheus]
    buckets = [0.1,0.3,1.2,5.0]
    entryPoint = "internal"

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    defaultRule = "Host(`{{ '{{ .Name }}' }}.{{ domain }}`)"
    exposedByDefault = false
    network = "traefik-web"
  [providers.file]
    directory = "/etc/traefik/config"
    watch = true
